entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python3 bot.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 45456046
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 bot.py"
